<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAIL DISEASE DETECTION</title>
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='navbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
     <!-- navbar -->
 <header class="header_area">
    <div class="main_header_area animated">
     <div class="container">
      <nav id="navigation1" class="navigation"  data-offset-top="197">
       <!-- Logo Area Start -->
       <div class="nav-header">
        <a class="nav-brand" href="index.html">NAIL DISEASE DETECTION</a>
        <div class="nav-toggle"></div>
       </div>
       <div class="nav-search">
          <div class="nav-search-button">
           <i class="nav-search-icon"></i>
          </div>
          <form>
           <div class="nav-search-inner">
            <input type="search" name="search" placeholder="Type Your Keywords">
           </div>
          </form>
         </div>
       <!-- Main Menus Wrapper-->
       <div class="nav-menus-wrapper">
        <ul class="nav-menu align-to-right">
         <li><a href="home.html">Home</a>
         </li>
         <li><a href="about.html">About</a></li>
        <li><a href="nail.html">Nail</a></li>
        
        </ul>
       </div>
      </nav>
     </div>
    </div>
   </header>
   <!-- nav bar end section-1 end -->
    
   <div class="button">
    <form action="/result" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <input type="file" class="form-control" name="image" accept="image/*">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
    <div class="para">
        <h3>The Person is diagonsed with Nail Disease</h3>
    </div>
    
    <footer class="footer-area">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="footer-widget">
                      <h3>Reach at</h3>
                      <ul>
                          <li>
                              <span>
                                  <i class="fa fa-phone"></i>
                                  Phone:
                              </span>
                              <a href="#">
                                  +91 9876543210
                              </a>
                          </li>
                          <li>
                              <span>
                                  <i class="fa fa-envelope"></i>
                                  Email:
                              </span>
                              <a href="#">
                                  info@gmail.com
                              </a>
                          </li>
                          <li>
                              <span>
                                  <i class="fa fa-map-marker"></i>
                                  Address:
                              </span>
                             Warangal, Telangana.
                          </li>
                      </ul>
                      <div class="footer-social dsk_vw">
                          <a href="#" target="_blank"><i
                                  class="fa fa-facebook"></i></a>
                          <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                          <a href="#" target="_blank"><i
                              class="fa fa-linkedin"></i></a>
                          <a href="#" target="_blank"><i class='fa fa-instagram'></i></a>
                          
                      </div>
                  </div>
              </div>
              
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <div class="footer-widget pl-60">
                      <h3>About Us</h3>
                      <p>Health systems are under greater pressure than ever, but along with its other uses, 
                        the potential of Al to provide much-needed relief to overworked doctors. can streamline the triage process./p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <div class="footer-widget pl-60">
                      <h3 class="foot-mid">Our Causes</h3>
                      <ul>
                          <li>
                              <a href="#">
                                  <i class="fa fa-angle-double-right bx-tada"></i>
                                  Home
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <i class="fa fa-angle-double-right bx-tada"></i>
                                  About
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <i class="fa fa-angle-double-right bx-tada"></i>
                                  Nail
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="footer-widget">
                      <div class="footer-widget-heading">
                       <h3>Subscribe</h3>
                      </div>
                      <div class="subscribe-form">
                       <form action="#">
                        <input type="text" placeholder="Email Address">
                        <button><i class="fa fa-location-arrow"></i></button>
                       </form>
                      </div>
    
                      <a class="btn" href="https://bit.ly/3m9avif" target="_blank">Subscribe Now</a>
    
    
    
                     </div>
              </div>
          </div>
    
    
      </div>
    
    </footer>
    
    </body>
    <script src="{{url_for('static',filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="{{url_for('static',filename='navbar.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</html>